#----------------------------------------------------------------------------
# Ignore these files when commiting to a git repository.
#
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# The original version of this file is found here:
# https://github.com/RailsApps/rails-composer/blob/master/files/gitignore.txt
#
# Corrections? Improvements? Create a GitHub issue:
# http://github.com/RailsApps/rails-composer/issues
#----------------------------------------------------------------------------

# rvm
.rvmrc
.ruby-version
.byebug_history
# bundler state
/.bundle

# minimal Rails specific artifacts
db/*.sqlite3
/log/*
/tmp/*
.byebug_history
# various artifacts
**.war
*.rbc
*.sassc
.rspec
.redcar/
.sass-cache
/config/config.yml
/config/database.yml
/config/master.key
/storage/*
/spec/tmp/*
/capybara*
/capybara-*.html

# scm revert files
**.orig

# Mac finder artifacts
.DS_Store
.keep

# RubyMine project files
.idea

# Textmate project files
/*.tmproj

# vim artifacts
**.swp

# Ignore application configuration
dump.rdb
**.rdb
*.rdb
/bin/rake
/bin/appraisal

# Added by npm-rails
/node_modules
