<div style="text-align:center;padding-top:10%;">
  Sorry but the link is already expired. Please request another.
  <br/>
  <br/>
  <%= link_to "Go back", "#{Rails.configuration.env_variables[:protocol]}://#{Rails.configuration.env_variables[:backend_host]}" %>
</div>